@import "tailwindcss";

@theme {
	--font-lufga: var(--font-lufga);
	--font-urbanist: var(--font-urbanist);
}
.font-urbanist {
	font-family: var(--font-urbanist), sans-serif;
}

.font-lufga {
	font-family: var(--font-lufga), sans-serif;
}
/* globals.css */
.input {
	@apply w-full rounded-lg border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#2B41B0];
}

.label {
	@apply mb-1 block text-sm font-medium text-gray-700;
}
/* globals.css */

.input {
	@apply w-full rounded-lg border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#2B41B0];
}

.label {
	@apply mb-1 block text-sm font-medium text-gray-700;
}

@keyframes progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.animate-progress {
	animation: progress 1.2s ease-in-out infinite;
}
