@import "tailwindcss";

/* Global base styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: black;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}
